<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011867255487-ba8ekm43rtqgmhh20q19j0nfvu6encjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011867255487-ba8ekm43rtqgmhh20q19j0nfvu6encjn</string>
	<key>API_KEY</key>
	<string>AIzaSyCgAWS_GSGXP4aUuWCbvB-N_V_JptGbq1k</string>
	<key>GCM_SENDER_ID</key>
	<string>1011867255487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halohair.ios</string>
	<key>PROJECT_ID</key>
	<string>halo-hair-676ed</string>
	<key>STORAGE_BUCKET</key>
	<string>halo-hair-676ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011867255487:ios:f54d74daa1be1be5413c0a</string>
	<key>DATABASE_URL</key>
	<string>https://halo-hair-676ed-default-rtdb.firebaseio.com</string>
</dict>
</plist>